<ion-header>
    <ion-toolbar color="primary">
    </ion-toolbar>
  </ion-header>


  <ion-content fullscreen class="background">
      <!-- <ion-searchbar [(ngModel)]="searchQuery"  [debounce]="250" (change)="onInput()"  showCancelButton="focus" value="India" animated></ion-searchbar> -->
      <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding row">
                <ion-searchbar  showCancelButton="focus" cancelButtonText="Custom Cancel"  animated  placeholder="search book" (ionChange)="searchBook()" [(ngModel)]="searchQuery"></ion-searchbar>
                <ion-col size-xs="12">
                     
                        <ion-segment value="School" (ionChange)="segmentChanged($event)"  >
                                <ng-container class="standard" *ngFor = "let standard of standards">
                                        <div class="bottom-tab">
                                                <ion-segment-button value="{{standard.Name}}">
                                                        <ion-label>{{standard.Name}}</ion-label>
                                                </ion-segment-button>
                                         </div>
                                </ng-container>
                        </ion-segment>
                      
                        <ng-container class="standard" *ngFor = "let standard of standards">
                                <div class="bottom-tab">             
                                        <div class="no-wrap" *ngIf="standard.toShow">    
                                            <ion-tab-button *ngFor = "let standard of standard.standard"> 
                                                <ion-button color="primary" size="small" shape="round" expand="block">     
                                                <ion-label mode="md" slot="end" size="small">{{standard.value}}</ion-label>
                                                </ion-button>
                                            </ion-tab-button>
                                     </div>
                                 </div>
                        </ng-container>
                </ion-col>
                
                    <!-- <div class="bottom-tab">
                                <div class="ion-no-padding no-wrap">
                                    <ion-tab-button  > 
                                        <ion-button color="primary" size="small" shape="round" expand="block" fill="outline">     
                                        <ion-icon name="logo-buffer" slot="start" size="small"></ion-icon>
                                        <ion-label mode="md" slot="end" size="small">Authors</ion-label>
                                        </ion-button>
                                    </ion-tab-button>
                                
                                </div>
                                <div class="ion-no-padding no-wrap">
                                    <ion-label>Standard Selection</ion-label>
                                    <ion-tab-button >
                                        <ion-button color="primary" size="small" shape="round" expand="block" fill="outline">  
                                            <ion-label>I</ion-label>
                                        </ion-button>
                                    </ion-tab-button>
                                </div>
                                <div class="ion-no-padding no-wrap">
                                    <ion-tab-button >
                                        <ion-button color="primary" size="small" shape="round" expand="block" fill="outline"> 
                                            <ion-label >II</ion-label>
                                        </ion-button>
                                    </ion-tab-button>
                                </div>
                                <div class="ion-no-padding no-wrap">
                                    <ion-tab-button  > 
                                    <ion-button color="primary" size="small" shape="round" expand="block" fill="outline">     
                                       
                                        <ion-label >Travel</ion-label>
                                    </ion-button>
                                    </ion-tab-button>
                                </div>
                                <div class="ion-no-padding no-wrap">
                                    <ion-tab-button >
                                        <ion-button color="primary" size="small" shape="round" expand="block" fill="outline">
                                           
                                            <ion-label >Cart</ion-label>
                                        </ion-button> 
                                    </ion-tab-button>
                                </div>
                    </div> -->
              <ion-col size-xs="6" size-sm="4" size-md="3" align-self-center *ngFor="let book of Books" class="ion-no-padding align-self-end ">
                  <ion-card class=" list card  ion-no-padding align-self-baseline" >
                      <div class="item item-body">
                          <div class="img-container">
                              <div class="image-container">
                                    <ion-img [src]="book.volumeInfo.imageLinks.thumbnail" class="ion-no-padding"> </ion-img>
                              </div>
                          </div>​
                        <ion-card-content class="ion-no-padding">
                            <ion-card-header class="card-header-bottom">
                                <span>{{10| currency:"INR"}}</span>
                                <rating id="rating" class="ion-no-padding" [rate]="4"
                                        readonly="false" 
                                        size="small"
                                        >
                                  </rating>
                            </ion-card-header> 
                            <div class="card-header-top">
                                <ion-button color="primary" class="add-button" (click)="addToCart()">   
                                    <ion-label>Add To Cart</ion-label>
                                    <ion-icon name="cart"></ion-icon>
                                </ion-button>  
                              </div> 
                        </ion-card-content>     
                        </div>
                  </ion-card>
            </ion-col>
           </ion-row>
        </ion-grid>
  </ion-content>