.padding-top{
    padding-top: 60px;
}
ion-card{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ion-list{
    width: 100%;
}
.ng2-pdf-viewer-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }