<!-- <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Odia</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content fullscreen>
      <!-- <ion-searchbar [(ngModel)]="searchQuery"  [debounce]="250" (change)="onInput()"  showCancelButton="focus" value="India" animated></ion-searchbar> -->
      <ion-grid class="ion-no-padding padding-top">
          <ion-row class="ion-no-padding row">
              <ion-col size-xs="6" size-sm="4" size-md="3" align-self-center *ngFor="let book of Books" class="ion-no-padding align-self-end ">
                  <ion-card class=" list card  ion-no-padding align-self-baseline" >
                      <div class="item item-body">
                          <div class="img-container">
                              <div class="image-container">
                                  <img src="{{book.volumeInfo.imageLinks.thumbnail}}" class="ion-no-padding"/>
                              </div>
                          </div>​
                        <ion-card-content class="ion-no-padding">
                            <ion-card-header class="card-header-bottom">
                                <span>{{10| currency:"INR"}}</span>
                                <rating id="rating" class="ion-no-padding" [rate]="4"
                                        readonly="false" 
                                        size="small"
                                        >
                                  </rating>
                            </ion-card-header> 
                            <div class="card-header-top">
                                <ion-button color="primary" class="add-button" (click)="addToCart()">   
                                    <ion-label>Add To Cart</ion-label>
                                    <ion-icon name="cart"></ion-icon>
                                </ion-button>  
                              </div> 
                        </ion-card-content>     
                        </div>
                  </ion-card>
            </ion-col>
           </ion-row>
        </ion-grid>
    <!-- <ion-list id="list">
      <ion-item size-sm="6"*ngFor="let News of Books" >
        <ion-card>
          <ion-img src="{{News.volumeInfo.imageLinks.thumbnail}}"></ion-img>
          <ion-card-header>
           
            <ion-card-title >{{News.volumeInfo.title}}</ion-card-title>
          </ion-card-header>
      </ion-card>
      </ion-item>
    </ion-list> -->
  </ion-content>
