
.active {
    --ion-text-color: var(--ion-color-primary);
 
    ion-icon {
        --ion-text-color-rgb: var(--ion-color-primary);
    }
}
 
.parent-active {
    font-weight: 500;
}
 
.sub-item {
    padding-left: 20px;
    font-size: small;
}
.active-item {
    border-left: 8px solid var(--ion-color-primary);
    ion-icon {
        color: var(--ion-color-primary);
    }

}
ion-toolbar{
    ion-title{
        display: inline-block;
    }
}
.profile{
    .thumb-nail{
        display: block;
        margin: 15px auto;
    }
    ion-title{
        font-size: 0.8rem;
    }
}
.tabs{
    // --ion-grid-columns: 10;
    // --ion-grid-column-padding: 0;
    // flex-wrap: nowrap;
    // overflow-x: scroll;
    // will-change: scroll-position;
}
.bottom-tab {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}
ion-tab-bar{
    --background-focused:#333;
}
ion-tab-button{
    --margin-left:0;
    --margin-right:0;
    ion-label{
        font-size: 0.5rem;
    }
a{
    padding: 0;
    margin: 0;
}
}
ion-tab-button {
    --color-selected: var(--ion-color-dark-contrast);
  }
ion-tab-button {
    --padding-start: 0px;
    --padding-end: 0px;
  }