

 

.parent-active {
    font-weight: 500;
}
 
.sub-item {
    border-left: 0.5rem solid transparent;
    font-size: small;
    &.active {
        --ion-text-color: var(--ion-color-primary);
        border-left: 0.5rem solid var(--ion-color-primary);
        ion-icon {
            --ion-text-color-rgb: var(--ion-color-primary);
        }
    }
}
.active-item {
    border-left: 8px solid var(--ion-color-primary);
    ion-icon {
        color: var(--ion-color-primary);
    }

}
ion-toolbar{
    ion-title{
        display: inline-block;
    }
}
.profile{
    .thumb-nail{
        display: block;
        margin: 15px auto;
    }
    ion-title{
        font-size: 0.8rem;
    }
}

.bottom-tab {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 32px 0;
    padding-bottom: 0;
}
ion-tab-bar{
    --background-focused:#333;
    height: 4rem;
    border-radius: 10px 10px 0 0;
    .no-wrap{
        padding: 4px 0;
        position: relative;
        .icon{
            position: absolute;
            top: -18px;
            left: 50%;
            background: #B2EBF2;
            border-radius: 50%;
            z-index: 2;
            display: flex;
            padding: 3px 4px;
            margin-left: -0.9rem;
            ion-icon{
                color: #333;
                font-size: 1.5rem;
                font-weight: 500;
            }
        }
    }
}
ion-tab-button{
    --margin-left:0;
    --margin-right:0;
    ion-label{
        font-size: 0.8rem;
    }
a{
    padding: 0;
    margin: 0;
}
}
ion-tab-button {
    --color-selected: var(--ion-color-dark-contrast);
  }
ion-tab-button {
    --padding-start: 0px;
    --padding-end: 0px;
  }