    <ion-split-pane>
        <ion-menu contentId="content">
          <ion-header translucent>
            <ion-toolbar color="primary">
              <ion-title class="text-style retroshadow">Eonia</ion-title>
              <ion-title slot="end"></ion-title>
            </ion-toolbar>
          </ion-header>    
          <ion-content>
              <ion-card class="ion-no-padding profile" color="medium">
                  <ion-thumbnail class="thumb-nail" >
                      <ion-img src="assets/pic1.png"></ion-img>
                  </ion-thumbnail>
                  
                  <ion-card-header color="secondary">
                      <ion-title>Name: Niranjan</ion-title>
                      <ion-title>Designation: Science Teacher</ion-title>
                  </ion-card-header>
                  <!-- <ion-card-content>
                      <ion-fab slot="end">
                          <ion-fab-button (click)="takePicture()">
                            <ion-icon name="camera"></ion-icon>
                          </ion-fab-button>
                        </ion-fab>
                  </ion-card-content> -->
                 
              </ion-card>
            <ion-list color="secondary">
                <ion-card class="ion-no-padding profile" color="secondary">
                <div *ngFor="let p of pages" color="transparent">
                  <ion-menu-toggle auto-hide="false" color="transparent" >
                    <ion-item *ngIf="!p.children?.length > 0 && p.navigation" [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)" color="transparent"> 
                      <ion-label>{{ p.title }}</ion-label>
                      <ion-icon name="{{p.icon}}" slot="end"></ion-icon>
                    </ion-item>
                 </ion-menu-toggle>
                  <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.parent-active]="p.open" detail="false" color="transparent">
                    <ion-icon slot="end" name="arrow-forward" *ngIf="!p.open"></ion-icon>
                    <ion-icon slot="end" name="arrow-down" *ngIf="p.open"></ion-icon>
                    <ion-label>{{ p.title }}</ion-label>
                  </ion-item>
                  <ion-list *ngIf="p.open">
                    <ion-menu-toggle auto-hide="false" color="transparent" >
                        <ng-container  *ngFor="let sub of p.children">
                            <ion-item *ngIf="sub.navigation"  class="sub-item" [routerLink]="sub.url" routerDirection="root"
                              routerLinkActive="active" >
                              <ion-icon [name]="sub.icon" slot="end"></ion-icon>
                              <ion-label>
                                {{ sub.title }}
                              </ion-label>
                            </ion-item>
                          </ng-container>
                    </ion-menu-toggle>
                  </ion-list>
              </div>
              <ion-item tappable routerLink="/login" routerDirection="root" color="secondary">
                <ion-icon name="log-out" slot="end"></ion-icon>
                <ion-label>Logout</ion-label>
              </ion-item>
            </ion-card>
            </ion-list>
            <ion-list color="secondary">
              <ion-card class="ion-no-padding profile" color="secondary">
              <div *ngFor="let p of admin" color="transparent">
                <ion-menu-toggle auto-hide="false" color="transparent" >
                  <ion-item *ngIf="!p.children?.length > 0 && p.navigation" [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)" color="transparent"> 
                    <ion-label>{{ p.title }}</ion-label>
                    <ion-icon name="{{p.icon}}" slot="end"></ion-icon>
                  </ion-item>
               </ion-menu-toggle>
                <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.parent-active]="p.open" detail="false" color="transparent">
                  <ion-icon slot="end" name="arrow-forward" *ngIf="!p.open"></ion-icon>
                  <ion-icon slot="end" name="arrow-down" *ngIf="p.open"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
                <ion-list *ngIf="p.open">
                  <ion-menu-toggle auto-hide="false" color="transparent" >
                    <ng-container  *ngFor="let sub of p.children">

                   
                      <ion-item *ngIf="sub.navigation"  class="sub-item" [routerLink]="sub.url" routerDirection="root"
                        routerLinkActive="active" >
                        <ion-icon [name]="sub.icon" slot="end"></ion-icon>
                        <ion-label>
                          {{ sub.title }}
                        </ion-label>
                      </ion-item>
                    </ng-container>
                  </ion-menu-toggle>
                </ion-list>
            </div>
          </ion-card>
            </ion-list>
          </ion-content>
       
        </ion-menu>
      
        <ion-router-outlet id="content" main>
            
           <ion-header>
            <ion-toolbar color="primary" expand="block">
                <ion-buttons slot="start"> 
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <app-header></app-header>
            </ion-toolbar>
          </ion-header>
          <ion-tabs mode="md" tabsHighlight="true" color="primary"> 
              <ion-tab-bar slot="bottom" color="primary">
                  <div class="bottom-tab">
                            <div class="ion-no-padding no-wrap">
                                <ion-tab-button tab="authors" > 
                                   
                                    <ion-button color="light" size="small" shape="round" expand="block" fill="outline">     
                                      <ion-icon name="logo-buffer" slot="start" size="small"></ion-icon>
                                      <ion-label mode="md" slot="end" size="small">Authors</ion-label>
                                    </ion-button>
                                  </ion-tab-button>
                              
                            </div>
                            <div class="ion-no-padding no-wrap">
                                <ion-tab-button tab="bookstore/books" >
                                    <ion-button color="light" size="small" shape="round" expand="block" fill="outline">
                                       
                                        <ion-icon name="business" slot="start"></ion-icon>
                                        <ion-label >Book Store</ion-label>
                                    </ion-button>
                                  </ion-tab-button>
                            </div>
                            <div class="ion-no-padding no-wrap">
                                <ion-tab-button tab="bookstore/accesories" >
                                    <ion-button color="light" size="small" shape="round" expand="block" fill="outline">
                                        <ion-icon name="book" slot="start"></ion-icon>
                                        <ion-label >Book Accesories</ion-label>
                                    </ion-button>
                                  </ion-tab-button>
                            </div>
                            <div class="ion-no-padding no-wrap">
                                <ion-tab-button tab="rent-service/service" > 
                                  <ion-button color="light" size="small" shape="round" expand="block" fill="outline">     
                                    <ion-icon name="car" slot="start"></ion-icon>
                                    <ion-label >Travel</ion-label>
                                  </ion-button>
                                </ion-tab-button>
                            </div>
                            <!-- <div class="ion-no-padding no-wrap">
                                <ion-tab-button tab="rent-service/car-service" > 
                                  <ion-button color="light" size="small" shape="round" expand="block" fill="outline">     
                                    <ion-icon name="car" slot="start"></ion-icon>
                                    <ion-label >Travel</ion-label>
                                  </ion-button>
                                </ion-tab-button>
                            </div> -->
                            <div class="ion-no-padding no-wrap">
                                <ion-tab-button tab="cart">
                                    <ion-button color="light" size="small" shape="round" expand="block" fill="outline">
                                        <ion-icon name="cart" slot="start" ></ion-icon>
                                        <ion-label >Cart</ion-label>
                                    </ion-button> 
                                  </ion-tab-button>
                            </div>
                            <div class="ion-no-padding no-wrap" (click)="presentPopover($event)">
                                <ion-tab-button>
                                    <ion-button color="light" size="small" shape="round" expand="block" fill="outline">
                                        <ion-icon name="person" slot="start" ></ion-icon>
                                        <ion-label >User</ion-label>
                                    </ion-button> 
                                  </ion-tab-button>
                            </div>
                            
                  </div>
              </ion-tab-bar>
          </ion-tabs>   
        </ion-router-outlet>
  </ion-split-pane>