.close{
    width: auto;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 3px;
    border-radius: 1rem;
    color: #F44336;
    position: fixed;
    top: 2px;
    right: 4px;
    height: 24px;
}
.add-user{
    border-radius: 1rem 1rem 0 0;
}
.toolbar{
    margin-top: 16px;
    border-radius: 9px;
}
.sub-category{
    position: sticky;
    top: -8px;
    background-color: var(--ion-item-background);
    padding: 16px 0;
    font-size: 20px;
    z-index: 1000;
}
.ion-header{
    border-radius: 5px;
}