<ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-grid class="ion-no-padding padding-top back-gradient">
             <ion-row class="ion-no-padding row">
                     
                 <ion-col size-xs="6" size-sm="6" size-md="3" align-self-center *ngFor="let combo of birthdayCombos" class="ion-no-padding align-self-end ">  
                     <ion-card class=" list  ion-no-padding align-self-baseline">
                                 <div class="image-container">
                                     <img src="{{combo.image}}" class="ion-no-padding"/>
                                 </div>
                     </ion-card>
               </ion-col>
              </ion-row>
         </ion-grid>
          <ion-grid class="padding-top ion-no-padding">
          <ion-row>
            <ion-col size-xs="12">
                <ion-list id="list">
                    <ng-container *ngFor="let combo of combolist;let i = index"  [attr.data-index]="i">
                            <ion-item class="ion-activatable" (click)="combo.open = !combo.open" (click)="openModal(combo,i)">
                                <ion-ripple-effect></ion-ripple-effect>
                                <ng-container *ngFor="let item of combo.items"> 
                                  <ng-container *ngFor="let cont of item.category">
                                      <ion-avatar  *ngIf="cont.image">
                                          <img class="thumb" src="{{cont.image}}" alt="">
                                        </ion-avatar>
                                  </ng-container>
                                </ng-container>
                                <ion-card-subtitle slot="end">{{combo.price| currency: 'INR'}} </ion-card-subtitle> 
                            </ion-item>
                     <!-- <ion-row class="ion-no-padding align-self-baseline">
                      <ion-col size-xs="12" size-sm="12" size-md="6" class="ion-no-padding align-self-baseline">
                          <ion-card size-xs="12" size-md="6" size-lg="6" class="card ion-no-padding ion-no-margin align-self-baseline"  *ngIf="combo.open">
                              <img *ngIf="combo.comboImage" src="{{combo.comboImage}}"/>
                              <ion-card-header>
                                  <ion-row class="ion-no-padding row">            
                                      <ion-col size-xs="4" size-sm="4" size-md="6" align-self-center *ngFor="let item of combo.items" class="ion-no-padding align-self-end "> 
                                          <ng-container >
                                              <ion-card class="ion-no-padding">
                                                  <ng-container *ngFor="let cont of item.category">
                                                      <img src="{{cont.image}}" alt="">
                                                  </ng-container>
                                              </ion-card>
                                        </ng-container>
                                      </ion-col>
                                  </ion-row>
                              </ion-card-header>
                              <ion-card-content>
                                  <ion-button expand="block">Order</ion-button>
                               <ion-item>
                               <ion-label> Order before 24 hours</ion-label>
                               </ion-item>
                                </ion-card-content>
                          </ion-card>
                        </ion-col>
                        <ion-col  size-xs="12" size-sm="12" size-md="6" class="ion-no-padding align-self-baseline">
                            <ion-card size-xs="12" size-md="6" size-lg="6" class="ion-no-padding align-self-baseline"  *ngIf="combo.open">
                                <ion-card-header>
                                    <ion-list id="list"> 
                                          <ng-container *ngFor="let item of combo.items"> 
                                             
                                                  <ion-item> 
                                                      <ng-container *ngFor="let cont of item.category">
                                                    <ion-label *ngIf="cont.Name">{{cont.Name}}</ion-label> 
                                                    <ion-label *ngIf="cont.Qty"> {{cont.Qty}} pcs</ion-label>
                                                  </ng-container>
                                                  </ion-item>
                                             
                                            </ng-container>
                                    </ion-list>
                                </ion-card-header>
                              </ion-card>
                        </ion-col>
                      </ion-row> -->
                    </ng-container>
                </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-content>
  