p {
    font-size: 0.8em;
    color: #d2d2d2;
}

ion-slides {
	height: 100%;
}

ion-slide {
    display: block;
}

ion-label, .select-text {
    margin-left: 10px;
}

.invalid {
    border: 1px solid #ea6153;
}
.mat-form-field {
    display: block;
}
.button{
 &.login{
     text-align: right;
 }
 &.back{
    display: flex;
    justify-content: space-between;
 }
} 
ion-content.background{
    --background: url('/assets/background.png') 0 0/100% 100% no-repeat;
}
ion-card{
//    &:before{
//     background-image: url(/assets/login.png);
//     background-position: center center;
//     background-repeat: no-repeat;
//     content: '';
//     left: 0;
//     position: absolute;
//     width: 100%;
//     z-index: 1;
//     background-size: auto 55px;
//     height: 56px;
//     margin-top: -28px;
//     opacity: 1 !important;
//     top: 38px;
//    }
    img {
    display: block;
    width: 20%;
    display: block;
    margin: 0 auto;
  }
}
// ion-card {
//     background-color: #000; // black
//     box-shadow: none;
// }
.mat-stepper-horizontal, .mat-stepper-vertical {
   // background-color: #d2d2d273;
    border-radius: 16px;
  //  box-shadow: 0 12px 18px 2px rgba(34,0,51,.04), 0 6px 22px 4px rgba(7,48,114,.12), 0 6px 10px -4px rgba(14,13,26,.12);
    margin: 0 auto;
    padding: 0px 0px 40px 0px;
}
.register{
    position: absolute;
    bottom: 12px;
    right: 25%;
    color: #480f35;
    font-size: 0.8rem;
}
.content-align{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}