// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.split-pane-md.split-pane-visible>.split-pane-side {
    max-width: 20%;
}
ion-card{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-shadow: 0px 3px 7px rgba(0,0,0,.12) !important;
    border-radius: 10px !important;
}
body {
    cursor: url('https://ionicframework.com/img/finger.png'), auto;
  }
  .alert-head{
    background: var(--ion-color-primary);
    .alert-title{
        color: #fff;
    }
  }
  .expand-block{
      display: block;
      width: 100%;
  }

 ion-item {
    &.no-padding-right{
        --ion-safe-area-right: 0;
        // ion-card-subtitle{
        //     color: #fff;
        // }
    }
 
}
#rating {
   // margin-top: 5px;
    display: inline-block;
    float: right;
    ion-buttons {
        float: right;
    }
    ion-label{
        display: inline-block;
    }
    ion-button {
        display: contents;
        --padding-top: 0;
        --padding-end: 0;
        --padding-bottom: 0px;
        --padding-start: 0px;
        --border-radius: 50%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        width: 17px;
        height: 17px;
    }
    ion-icon {
        width: 18px;
        height: 20px;
        color: gray;

        &.filled {
            //color: #ffb400;
            color: var( --ion-color-warning-tint) !important;
        }
    }
  }