// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.split-pane-md.split-pane-visible>.split-pane-side {
    max-width: 20%;
}
ion-card{
  //  margin-inline-start: 0px;
  //  margin-inline-end: 0px;
    box-shadow: 0px 3px 7px rgba(0,0,0,.12) !important;
    border-radius: 10px !important;
    &.ion-no-border{
        border-radius: 0px !important;
    }
}
body {
    cursor: url('https://ionicframework.com/img/finger.png'), auto;
    background-color: radial-gradient(circle at top right,#3f6e79,#ffffff);
  }
  .alert-head{
    background: var(--ion-color-primary);
    .alert-title{
        color: #fff;
    }
  }
  .expand-block{
      display: block;
      width: 100%;
  }

 ion-item {
    &.no-padding-right{
        --ion-safe-area-right: 0;
        // ion-card-subtitle{
        //     color: #fff;
        // }
    }
 
}
#rating {
   // margin-top: 5px;
    display: inline-block;
    float: right;
    ion-buttons {
        float: right;
    }
    ion-label{
        display: inline-block;
    }
    ion-button {
        display: contents;
        --padding-top: 0;
        --padding-end: 0;
        --padding-bottom: 0px;
        --padding-start: 0px;
        --border-radius: 50%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        width: 17px;
        height: 17px;
    }
    ion-icon {
        width: 18px;
        height: 20px;
        color: gray;

        &.filled {
            //color: #ffb400;
            color: var( --ion-color-warning-tint) !important;
        }
    }
  }  
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
  }
  .scroller {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none; // Safari and Chrome
    }
}
//Text Design
.text-style {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 2px 0 rgba(0,112,133,.6);
}
.custom-loading .loading-wrapper {
    padding: 0;
    margin: 0;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
    padding-inline-end: 0;
    background: #333333b3;
    border-radius: 50%;
    img{
        height: 6rem;
    }
}