<ion-tabs>
    <ion-tab-bar>
   
      <ion-tab-button tab="books"> 
        <ion-chip>     
          <ion-icon name="logo-buffer" color="warning-shade"></ion-icon>
          <ion-label color="warning-shade">Authors</ion-label>
        </ion-chip>
      </ion-tab-button>
   
      <ion-tab-button tab="authors">
        <ion-chip>
            <ion-icon name="book" color="warning-shade"></ion-icon>
            <ion-label color="warning-shade">Books</ion-label>
        </ion-chip>
      </ion-tab-button>
      <ion-tab-button tab="cart">
        <ion-chip>
            <ion-icon name="cart" color="warning-shade"></ion-icon>
            <ion-label color="warning-shade">Cart </ion-label>
        </ion-chip>
       
      </ion-tab-button>
    </ion-tab-bar>
   
</ion-tabs>
