table {
    width: 100%;
  }
  .mat-header-row{
        background: #81D4FA;
            th{
                color: #fff;
                font-weight: 600;
                font-size: 0.9rem;
            }
  }
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgb(23, 190, 231);
    td{
        color: #fff;
    }
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .status {
    display: flex;
    justify-content: flex-end;

    .on-off {
        display: flex;
        background: #fff;
        border: 2px solid #03a9f4;
        border-radius: 7px;
        position: relative;
        width: 7rem;
        .input{
            opacity: 0;
            position: absolute;
            width: 100%;
        }
        .off {
          background: #fff;
          padding: 4px 15px;
          border-radius: 1rem;
          color: #78c493;
          font-size: .8rem;
          z-index: 1;
          cursor: pointer;
          width: 50%;
          opacity: .5;
        }
        .on {
          background: #03A9F4;
          padding: 4px 15px;
          border-radius: 0;
          color: #fff;
          font-size: .8rem;
          z-index: 1;
          width: 50%;
        }
    }
  }