ion-list{
    display: block;
    width: 100%;
ion-thumbnail{
    &.thumb-nail{
        min-width: 8rem;    
        min-height: 8rem;
        img {
            max-width: 5rem;    
            min-width: 5rem;
        }
    }
}

}
.property{
    list-style: none;
    padding: 0px;
    width: 100%;
    li{
        padding: 8px 0px;
    }
}
.ion-item{
    position: relative;
   
}
.remove-button{
    position: absolute;
    bottom: 0;
    font-size: 0.6rem;
}
.padding-top{
    padding-top: 60px;
}