ion-list{
    display: block;
    width: 100%;
ion-thumbnail{
    &.thumb-nail{
        min-width: 8rem;    
        min-height: 8rem;
        img {
            max-width: 5rem;    
            min-width: 5rem;
        }
    }
}

}
.property{
    list-style: none;
    padding: 0px;
    width: 100%;
    li{
        padding: 4px 0px;
        font-size: 0.9rem;
    }
}
.ion-item{
    position: relative;
   
}
.remove-button{
    position: absolute;
    bottom: 0;
    font-size: 0.6rem;
    &.remove{
        left: 0;
    }
    &.add{
        left: 4rem;
    }
    &.quantity{
left: 2.25rem;
    }
}
.padding-top{
    padding-top: 60px;
}
.card-image{
    max-height: 8rem;
    max-width: 8rem
}