.title{
  //  color: #fff;
  //  background-color: var(--ion-color-warning);
    text-align: center;
    border-radius: 9px;
    margin: 15px 10px 2px;
    padding: 5px 0;
    font-size: 1rem;
}
.slider{
   // margin:2rem 0;
}
.padding-top{
  padding-top: 56px;
}
.news-arrival{
    --ion-grid-columns: 10;
    --ion-grid-column-padding: 0px;
    flex-wrap: nowrap;
    overflow-x: auto;
    will-change: scroll-position;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  //  margin-left: calc(var(--page-margin) * -10);
  //  margin-right: calc(var(--page-margin) * -10);
}
.pins{
  column-count: 3;
  @media only screen and (max-width: 768px) {
    column-count: 1;
  }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    column-count: 2;
  }

.pin{
  display: inline-block;
}
}
.card-image{
  width: 100%;
  img{
    width: 100%;
  }
}
.category{
//  border: 3px solid #d2d2d2;
.image-container {
 // background: #80DEEA;
 // background: var(--ion-color-primary);
  padding: 5px;
  border-radius: 5px;
 // background: -webkit-gradient(linear, center top, center bottom, from(#32bce0), to(#ffffff));
 // background: -webkit-gradient(linear, center top, center bottom, from( var(--ion-color-primary)), to(#ffffff));
      img {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border-radius: 0.8rem;
        max-height: 120px;
        max-width: 120px;
        box-shadow: 1px 2px 5px #333 !important;
      }
}
}
