<!-- <ion-header>
  <ion-toolbar color="warning" expand="block">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Home</ion-title>
    <app-profile></app-profile>
  </ion-toolbar>
</ion-header> -->


<ion-content fullscreen class="ion-no-padding"> 
    <ion-grid class="padding-top">
        <!-- <ion-button (click)="openCam()" >Open Camera</ion-button> -->
        <ion-row>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher> -->
          <ion-title class="title">New Featured Books</ion-title>
          <ion-slides  class="slider  ion-no-margin ion-no-padding" pager="true" loop="true"  >
            <ion-slide *ngFor= "let book of books" class="ion-no-margin ion-no-padding">
                <img src={{book.image}} alt="">
            </ion-slide>
          </ion-slides> 
      <!-- <ion-card>
        <ion-item  class="activated">
          <ion-icon name="wifi" slot="start"></ion-icon>
          <ion-label>Card Link Item 1 .activated</ion-label>
        </ion-item>
      
        <ion-item href="#">
          <ion-icon name="wine" slot="start"></ion-icon>
          <ion-label>Card Link Item 2</ion-label>
        </ion-item>
      
        <ion-item class="activated">
          <ion-icon name="warning" slot="start"></ion-icon>
          <ion-label>Card Button Item 1 .activated</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-icon name="walk" slot="start"></ion-icon>
          <ion-label>Card Button Item 2</ion-label>
        </ion-item>
      </ion-card> -->
        </ion-row>
     </ion-grid>
       <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding news-arrival">
              <ion-col size-xs="3" size-sm="3" size-md="3" *ngFor="let book of books" class="ion-no-padding">
                <ion-card class="ion-no-padding">
                    <img src={{book.image}} alt="">
                  </ion-card>  
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding news-content">
              <ion-col size-xs="12" size-sm="12" size-md="6" *ngFor="let News of NewsContent" class="ion-no-padding">    
                <ion-card class="ion-no-padding">
                      <img *ngIf="News.urlToImage" [src]="News.urlToImage || loadingAnimation"/>
                      <ion-card-header>
                        <ion-card-subtitle *ngIf="News.WAGM">Author {{News.WAGM}}</ion-card-subtitle>
                        <ion-card-title *ngIf="News.title">{{News.title}}</ion-card-title>
                      </ion-card-header>
                      <!-- <ion-card-content *ngIf="News.content">{{News.content}}</ion-card-content> -->
                  </ion-card>
                  
            </ion-col>
          </ion-row>
        </ion-grid>
      
        <img src="{{image}}">
        <div *ngIf="!NewsContent">
            <ion-row>
                <ion-col size="12" size-sm="6" size-md="6" *ngFor="let item of [1,2,3,4,5,6]">
                    <ion-list>
                        <ion-item>
                          <ion-thumbnail slot="start">
                            <ion-skeleton-text animated></ion-skeleton-text>
                          </ion-thumbnail>
                          <ion-label>
                            <h3>
                              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            </h3>
                            <p>
                              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </p>
                            <p>
                              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            </p>
                          </ion-label>
                        </ion-item>
                        </ion-list>
                </ion-col>
            </ion-row>
        </div>
          <ion-infinite-scroll threshold="200px" (ionInfinite)="loadData($event)">
              <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more NEWS...">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
</ion-content>
