.title{
  //  color: #fff;
  //  background-color: var(--ion-color-warning);
    text-align: center;
    border-radius: 9px;
    margin: 15px 10px 2px;
    padding: 5px 0;
    font-size: 1rem;
}
.slider{
    margin:2rem 0;
}
.padding-top{
  padding-top: 60px;
}