<!-- <ion-header>
  <ion-toolbar color="warning" expand="block">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Home</ion-title>
    <app-profile></app-profile>
  </ion-toolbar>
</ion-header> -->
<ion-content fullscreen class="ion-no-padding"> 
    <ion-title class="title">New Featured Books</ion-title>
    <ion-slides  class="slider" pager="true" loop="true" [options]="slideOpts">
      <ion-slide *ngFor= "let book of books">
          <img src={{book.image}} alt="">
      </ion-slide>
      </ion-slides> 
      <!-- <ion-card>
        <ion-item  class="activated">
          <ion-icon name="wifi" slot="start"></ion-icon>
          <ion-label>Card Link Item 1 .activated</ion-label>
        </ion-item>
      
        <ion-item href="#">
          <ion-icon name="wine" slot="start"></ion-icon>
          <ion-label>Card Link Item 2</ion-label>
        </ion-item>
      
        <ion-item class="activated">
          <ion-icon name="warning" slot="start"></ion-icon>
          <ion-label>Card Button Item 1 .activated</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-icon name="walk" slot="start"></ion-icon>
          <ion-label>Card Button Item 2</ion-label>
        </ion-item>
      </ion-card> -->
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
            <ion-col size-xs="12" size-sm="12" size-md="6" *ngFor="let News of NewsContent" class="ion-no-padding">
                  <ion-card class="ion-no-padding">
                    <ion-img *ngIf="News.urlToImage" src="{{News.urlToImage}}"></ion-img>
                    <ion-card-header>
                      <ion-card-subtitle *ngIf="News.WAGM">Author {{News.WAGM}}</ion-card-subtitle>
                      <ion-card-title *ngIf="News.title">{{News.title}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content *ngIf="News.content">{{News.content}}</ion-card-content>
                </ion-card>
           </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
