.title{
  //  color: #fff;
  //  background-color: var(--ion-color-warning);
    text-align: center;
    border-radius: 9px;
    margin: 15px 10px 2px;
    padding: 5px 0;
    font-size: 1rem;
}
.slider{
   // margin:2rem 0;
}
.padding-top{
  padding-top: 60px;
}
// .news-content{
//     --ion-grid-columns: 10;
//     --ion-grid-column-padding: 0px;
//     flex-wrap: nowrap;
//     overflow-x: scroll;
//     will-change: scroll-position;
//     margin-left: calc(var(--page-margin) * -1);
//     margin-right: calc(var(--page-margin) * -1);
// }