
       
       <ion-grid class="ion-no-padding">
              <ion-row class="ion-no-padding">
                   <ion-title color="light ">{{Title}}</ion-title>  
                  <!--    <ion-img [src]='EoniaImg'></ion-img>   -->
                    <!-- <ion-title color="light title ion-text-ce">Eonia</ion-title>   -->
                   <app-cart-count class="ion-float-right"></app-cart-count>  
              </ion-row>
       </ion-grid>
      
     
       <!-- <app-profile class="ion-float-right" (click)="presentPopover($event)"></app-profile> -->
      
 